%p
  This is: activities/index

%h1
  Today (#{@today})

#main-grid
  - @activities.each do |a|
    .grid-box{:activity_id=>a.id}
      <input type="checkbox"
      - if !a.today_log or !a.today_log.checked
      - else
        = "checked"
      >
      %h3{:style=>"position:relative;z-index:2;"}
        = a.title
      %button.grid-button.grid-delete.btn.btn-danger{:type=>"button"}
        %span.glyphicon.glyphicon-trash
  - if @activities.length < 9
    .grid-box#grid-add-box
      %h3{:style=>"margin-top:55px;"}
        %span.glyphicon.glyphicon-plus{:style=>"font-size:24px;margin-top:5px;"}

%div{:style=>"height:20px;"}

.add-new
  = form_for :activity, url: activities_path do |f|
    %p{:style=>"position:relative;"}
      = f.label :title
      = f.text_field :title, :style=>"border:2px solid #eee;background-color:#f5f5f5;"
    %p.submit-button
      = f.submit 'Add', :class=>"grid-add btn btn-success", :style=>"padding:3px 8px;border-radius:0;padding-bottom:2px;"

%div{:style=>"height:20px;"}

- @activities.each do |a|
  %h2
    = a.title
  .week-box
    - logs = a.last_n_logs(7)
    - for i in 6.downto(0)
      .day-box
        %h3
          - if i == 0
            Today
          - else
            = Date::DAYNAMES[(Time.now.to_date - i).wday][0..2]
        - if logs.size >= i+1
          - if logs[i].checked == true
            <img src="/assets/checkmark_medium.png">
    .clear
  %br




